<form action="/user/signin" method="POST">
  <input type="email" name="email" placeholder="Email" /> <br />
  <input type="password" name="password" placeholder="Password" /> <br />
  <input type="submit" value="SignIn Account" />
</form>
