<form action="/user/signup" method="POST">
  <input type="text" name="firstName" placeholder="first name" /> <br />
  <input type="text" name="lastName" placeholder="Last name" /> <br />
  <input type="email" name="email" placeholder="Email" /> <br />
  <input type="text" name="phoneNumber" placeholder="Phone Number" /> <br />
  <input type="text" name="address" placeholder="Address" /> <br />
  <input type="password" name="password" placeholder="Password" /> <br />
  <input type="submit" value="Create Account" />
</form>
